/*===========================
      16.PRICING css 
===========================*/

.pricing-area{
    background-color: $light-color-two;
    padding-top: 90px;
    padding-bottom: 100px;
}

.pricing-2{
    background-color: $white;
}

.pricing-style-one {
    @include box-shadow (0 3px 6px 0 rgba(0, 0, 0, 0.16));
    padding: 24px 20px 38px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: $white;

    & .pricing-icon {
        & img {
            width: 200px;
        }
    }

    & .pricing-header {
        & .sub-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            color: $text-color-one;
            position: relative;
            margin-top: 24px;
        }

        & .month {
            font-size: 20px;
            font-weight: 300;
            line-height: 25px;
            color: $text-color-three;
            margin-top: 3px;

            & .price {
                font-size: 36px;
                font-weight: 600;
                line-height: 45px;
                color: $text-color-one;
                margin-top: 8px;

                @media #{$sm} {
                    font-size: 24px;
                    margin-top: 32px;
                    line-height: 30px;
                }
            }
        }
    }

    & .pricing-list {
        margin-top: 24px;

        & ul {
            & li {
                font-size: 16px;
                line-height: 24px;
                color: $text-color-one;
                margin-top: 16px;

                @media #{$lg} {
                    font-size: 14px;
                    margin-top: 12px;
                }

                @media #{$xs} {
                    font-size: 14px;
                    margin-top: 12px;
                }

                @media #{$sm} {
                    font-size: 16px;
                    margin-top: 16px;
                }

                & i {
                    color: $primary;
                    margin-right: 8px;
                }
            }
        }
    }

    & .pricing-btn {
        margin-top: 31px;

        & .main-btn {
            
        }
    }
}



.pricing-style-two {
    @include box-shadow (0 3px 6px 0 rgba(0, 0, 0, 0.16));
    padding: 24px 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: $white;
    
    & .pricing-icon{
        & img{
            width: 112px;
        }
    }

    & .pricing-header {
        margin-top: 24px;
        
        & .sub-title {
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            color: $text-color-one;
        }

        & .price {
            display: block;
            font-size: 64px;
            font-weight: 600;
            line-height: 80px;
            color: $text-color-one;

            @media #{$lg} {
                font-size: 50px;
                margin-top: 16px;
            }

            @media #{$xs} {
                font-size: 50px;
                margin-top: 16px;
            }

            @media #{$sm} {
                font-size: 64px;
                margin-top: 32px;
            }
        }

        & .year {
            font-size: 20px;
            font-weight: 500;
            line-height: 25px;
            color: $text-color-three;
            margin-top: -10px;
        }
    }

    & .pricing-list {
        margin-top: 33px;

        & ul {
            & li {
                font-size: 16px;
                line-height: 24px;
                color: $text-color-one;
                margin-top: 16px;

                @media #{$lg} {
                    font-size: 14px;
                    margin-top: 12px;
                }

                @media #{$xs} {
                    font-size: 14px;
                    margin-top: 12px;
                }

                @media #{$sm} {
                    font-size: 16px;
                    margin-top: 16px;
                }

                & i {
                    color: $primary;
                    margin-right: 8px;
                }
            }
        }
    }

    & .pricing-btn {
        margin-top: 26px;

        & .main-btn {
            
        }
    }
}


.owl-1 .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%; }
    .owl-1 .owl-nav .owl-next,
    .owl-1 .owl-nav .owl-prev {
      border: 1px solid red;
      z-index: 92;
      position: absolute;
      top: 50%; }
      .owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-next:focus,
      .owl-1 .owl-nav .owl-prev:active,
      .owl-1 .owl-nav .owl-prev:focus {
        outline: none; }
      .owl-1 .owl-nav .owl-next span,
      .owl-1 .owl-nav .owl-prev span {
        color: #fff; }
        .owl-1 .owl-nav .owl-next span:before,
        .owl-1 .owl-nav .owl-prev span:before {
          font-size: 40px !important; }
    .owl-1 .owl-nav .owl-next {
      border: 4px solid blue;
      right: 20px; }
    .owl-1 .owl-nav .owl-prev {
      left: 20px; }
  
  .owl-1 .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .owl-1 .owl-dots .owl-dot {
      background: none;
      display: inline-block; }
      .owl-1 .owl-dots .owl-dot > span {
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        margin: 4px; }
      .owl-1 .owl-dots .owl-dot.active > span {
        background: white; }
      .owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
        outline: none; }
  
  .media-29101 .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; }
  
  .media-29101 .text {
    padding: 50px; }
    @media (max-width: 991.98px) {
      .media-29101 .text {
        padding: 20px;
        width: 100%; } }
    .media-29101 .text .category {
      color: #adb5bd;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: .2rem; }
    .media-29101 .text h2 {
      font-family: "Playfair Display", times, serif;
      font-size: 2rem;
      line-height: 1.3;
      margin-bottom: 30px; }
      .media-29101 .text h2 a {
        color: #000; }
  
  .carousel-nav {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px; }
    .carousel-nav a {
      color: #999;
      padding: 20px;
      text-align: center;
      display: inline-block; }
      .carousel-nav a:hover {
        color: #000; }
      .carousel-nav a.active {
        color: #000; }
        .carousel-nav a.active:before {
          content: "";
          bottom: -1px;
          left: 0;
          right: 0;
          position: absolute;
          border-bottom: 1px solid #000; }
